.div {
	margin: 3%;
}

body {
	background: #222;
}

#userList .list-group-item {
	display: inline-block;
	width: 100%;
}

.usersOnline {
	
}

#usersOnlineId {
	text-decoration: none;
}


.tweet div:hover {
	padding-left: 2px;
	background-color: #EEE;
}

.comment {
	padding: 5px 5px 0px 30px;
}
