.myPanel {
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 0px 0px 4px #eee;
	margin: 3%;
	color: #eee;
}

.myPanel .header {
	background: #999;
	border-radius: 5px 5px 0 0;
	color: #eee;
	padding: 10px 20px;
}

.myPanel .body {
	padding: 10px 20px;
	color: #222;
}

.myPanel .showOnHover {
	display: none;
}

.myPanel:hover {
	box-shadow: 0px 0px 8px black;
	border: 1px solid #eee;
}

.myPanel:hover .showOnHover {
	display: inline-block;
}